<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/assets/scss/header.css" />
  <link
    rel="stylesheet"
    href="../../static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
  />
  <title>Document</title>
</head>
<body>
  <header>
    <div class="navbar">
      <img src="../../static/assets/images/mbslogo.png" alt="MyBrokerSearch" />

      <span
        >Need Support? Call <a href="tel:+15555555555">(555) 555-5555</a></span
      >
      <i class="fa fa-bell" aria-hidden="true"></i>
      <button>Log Out</button>
    </div>
  </header>
</body>
