.dashboard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: #a3bc3a;
  text-transform: uppercase;
}

.title .line {
  width: 65%;
  height: 7px;
  background-color: #2858a1;
  margin-left: -16em;
}

.gallery {
  width: 1400px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: #2858a134;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.profile_list {
  width: 80%;
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px #0000003b;
          box-shadow: 1px 1px 1px 1px #0000003b;
}

.profile_list img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile_list .profile_title {
  color: #2858a1;
  font-size: 25px;
  font-weight: 500;
}

.client_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client_block .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 60%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: #2858a134;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.container .main-video {
  width: 66%;
  padding: 10px;
  overflow-y: auto;
  margin-left: 20px;
  display: none;
}

.container .video-list {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .video-list a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #a3bc3a;
  background: white;
  border: none;
  font-size: 24px;
  border-radius: 30px;
  padding: 20px 40px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 1px #00000045;
          box-shadow: 1px 1px 1px 1px #00000045;
  cursor: pointer;
}

.container .video-list a:hover {
  background: #2858a1;
  color: white;
}

.container .video-list a:hover::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -3px;
  top: 18px;
  border-left: 40px solid white;
}

.container .video-list .active {
  background: #2858a1;
  color: white;
}

.container .video-list .active::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -3px;
  top: 18px;
  border-left: 40px solid white;
}

/* TO DO TASK */
.info_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b4c768;
  border-radius: 10px;
  background: white;
  margin: 10px 0;
}

.info_task .info_line {
  padding: 5px 0;
}

.info_task .info_title,
.info_task .info_desc {
  color: #2858a1;
}

.task_add {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.task_add button {
  background: white;
  color: #a3bc3a;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #a3bc3a;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}

.task_form {
  background: rgba(0, 0, 0, 0.329);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.task_form form {
  border: 1px solid #a3bc3a;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  height: 400px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task_form form .close_popup {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 20px;
  color: #a3bc3a;
  cursor: pointer;
  font-weight: 600;
}

.task_form form .close_popup:hover {
  color: #2858a1;
}

.task_form form input {
  width: 100%;
  margin: 5px 0;
  color: #2858a1;
  border: 1px solid #2858a1;
  border-radius: 5px;
  -webkit-box-shadow: #2858a1 2px;
          box-shadow: #2858a1 2px;
  padding: 5px;
}

.task_form form input::-webkit-input-placeholder {
  color: #2858a1;
}

.task_form form input:-ms-input-placeholder {
  color: #2858a1;
}

.task_form form input::-ms-input-placeholder {
  color: #2858a1;
}

.task_form form input::placeholder {
  color: #2858a1;
}

.task_form form input:focus-visible {
  border: 2px solid #a3bc3a;
  outline: none;
}

.task_form form .submit_form {
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_checkbox {
  color: #2858a1;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_checkbox label {
  color: #2858a1;
  margin-right: 10px;
  margin-left: 1px;
}

.submit_form {
  cursor: pointer;
  margin-top: 10px;
}

/* END */
/*# sourceMappingURL=dashboard.css.map */