.dashboard {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_text {
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80px;
        font-weight: 500;
        color: #a3bc3a;
        text-transform: uppercase;
    }
    .line {
        width: 65%;
        height: 3px;
        background-color: #2858a1;
        margin-left: -16em;
        display: block;
    }
    .dashboard_desc {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
        font-weight: 500;
        color: #3d3d3d;
    }
}

.gallery {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.profile {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2858a134;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.profile_list {
    width: 80%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #0000003b;
    img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
    }
    .profile_title {
        color: #2858a1;
        font-size: 35px;
        font-weight: 500;
        margin: 20px 0;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .profile_desc {
        color: #2858a1;
        font-size: 35px;
        font-weight: 900;
        margin: 20px 0;
        text-transform: uppercase;
        font-family: inherit;
    }
}

.client_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    .client_info {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        color: #2858a1;
        font-size: 20px;
        font-weight: 400;
    }
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: white;
    padding: 25px 10px;
    border-radius: 30px;
    a {
        width: 30px;
        position: relative;
        img {
            width: 30px;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.container {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2858a134;
    height: 580px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    .main-video {
        width: 59%;
        overflow-y: auto;
        display: none;
        padding: 30px;
        background: white;
        margin: 10px;
        box-shadow: 1px 1px 1px 1px #0000003b;
        &::-webkit-scrollbar {
            width: 3px;
            border-radius: 30px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px darkgrey;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2858a1;
            outline: 1px solid #2858a1;
            border-radius: 30px;
        }
    }
    .video-list {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #a3bc3a;
            background: white;
            border: none;
            font-size: 24px;
            border-radius: 30px;
            padding: 15px 20px;
            position: relative;
            cursor: pointer;
            box-shadow: 1px 1px 1px 1px #00000045;
            cursor: pointer;
            &:hover {
                background: #2858a1;
                color: white;
                &::after {
                    content: "";
                }
            }
        }
        .active {
            background: #2858a1;
            color: white;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                position: absolute;
                left: -3px;
                top: 15px;
                border-left: 40px solid white;
            }
        }
    }
}

/* TO DO TASK */

.info_task {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border: 1px solid #b4c768;
    border-radius: 10px;
    background: white;
    margin: 10px 0;
    box-shadow: 1px 1px 1px 1px #00000045;
    .info_line {
        padding: 5px 0;
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .info_title,
    .info_desc {
        color: #2858a1;
        font-size: 20px;
        font-weight: 500;
    }
}

.task_add {
    width: 100%;
    display: flex;
    justify-content: end;
    button {
        background: white;
        color: #a3bc3a;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border: 1px solid #a3bc3a;
        border-radius: 50%;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #00000045;
    }
}

.task_form {
    background: rgba(0, 0, 0, 0.664);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    form {
        border: 1px solid #a3bc3a;
        border-radius: 10px;
        padding: 30px;
        width: 650px;
        height: 500px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .close_popup {
            position: absolute;
            top: 0px;
            right: 12px;
            font-size: 35px;
            color: #a3bc3a;
            cursor: pointer;
            font-weight: 500;
            &:hover {
                color: #2858a1;
            }
        }
        input {
            width: 100%;
            margin: 5px 0;
            color: #2858a1;
            border: 2px solid #a3bc3a;
            border-radius: 7px;
            padding: 10px 5px;
            font-size: 18px;
            &::placeholder {
                color: #a3bc3a;
            }
            &:focus-visible {
                border: 2px solid #2858a1;
                outline: none;
            }
        }
        .submit_form {
            width: 200px;
            justify-content: center;
            border: 0;
            color: white;
            background: #2858a1;
            text-transform: uppercase;
            font-size: 22px;
            padding: 8px 0px;
            margin-top: 10px;
            font-family: revert;
            cursor: pointer;
            &:hover {
                background: #a3bc3a;
            }
        }
    }
}
.title_checkbox {
    color: #2858a1;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.checkbox_block {
    width: 61%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    .form_checkbox {
        position: relative;
        width: 75px;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: #2858a1;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            position: absolute;
            top: -5px;
            left: -28px;
            height: 25px;
            width: 25px;
            border: 2px solid #a3bc3a;
            border-radius: 5px;
            background-color: #fff;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 7px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &:hover input ~ .checkmark {
            background-color: #a2bc3a46;
        }
    }
}

//
/* END */
