.dashboard {
    box-sizing: border-box;
    padding: 20px 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80px;
        font-weight: 500;
        color: #a3bc3a;
        text-transform: uppercase;
    }
    div {
        width: 65%;
        height: 7px;
        background-color: #2858a1;
        margin-left: -16em;
    }
}

.gallery {
    width: 1400px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.profile {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2858a134;
    height: 580px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.profile-list {
    width: 75%;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 15px;
    img {
        margin: 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #2858a1;
        object-fit: cover;
    }
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #2858a134;
    height: 580px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    .main-video {
        width: 66%;
        padding: 10px;
        overflow-y: auto;
        margin-left: 20px;
    }
    .video-list {
        width: 36%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #a3bc3a;
            background: white;
            border: none;
            font-size: 24px;
            border-radius: 30px;
            padding: 20px 40px;
            position: relative;
            cursor: pointer;
            box-shadow: 1px 1px 1px 1px #00000045;
            cursor: pointer;
            &:hover {
                background: #2858a1;
                color: white;
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 18px solid transparent;
                    border-bottom: 18px solid transparent;
                    position: absolute;
                    left: -3px;
                    top: 16px;
                    border-left: 44px solid white;
                }
            }
        }
        .active {
            background: #2858a1;
            color: white;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                position: absolute;
                left: -3px;
                top: 18px;
                border-left: 40px solid white;
            }
        }
    }
}

/* TO DO TASK */

.info_task {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border: 1px solid #b4c768;
    border-radius: 10px;
    background: white;
    margin: 10px 0;
    .info_line {
        padding: 5px 0;
    }
    .info_title,
    .info_desc {
        color: #2858a1;
    }
}

.task_add {
    width: 100%;
    display: flex;
    justify-content: end;
    button {
        background: white;
        color: #a3bc3a;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border: 1px solid #a3bc3a;
        border-radius: 50%;
        margin-top: 10px;
        cursor: pointer;
    }
}

.task_form {
    background: rgba(0, 0, 0, 0.329);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    form {
        border: 1px solid #a3bc3a;
        border-radius: 10px;
        padding: 30px;
        width: 500px;
        height: 400px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .close_popup {
            position: absolute;
            top: 5px;
            right: 12px;
            font-size: 20px;
            color: #a3bc3a;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                color: #2858a1;
            }
        }
        input {
            width: 100%;
            margin: 5px 0;
            color: #2858a1;
            border: 1px solid #2858a1;
            border-radius: 5px;
            box-shadow: #2858a1 2px;
            padding: 5px;
            &::placeholder {
                color: #2858a1;
            }
            &:focus-visible {
                border: 2px solid #a3bc3a;
                outline: none;
            }
        }
        .submit_form {
            width: 100px;
            justify-content: center;
        }
    }
}
.title_checkbox {
    color: #2858a1;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form_checkbox {
    display: flex;
    align-items: center;
    label {
        color: #2858a1;
        margin-right: 10px;
        margin-left: 1px;
    }
}
.submit_form {
    cursor: pointer;
    margin-top: 10px;
}
/* END */
