body {
    margin: 0;
}
header {
    margin: 0;
    background: #4e4f4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.header_logo {
    position: relative;
    display: block;
    width: 10%;
    margin: 0 15px;
    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.header_search {
    width: 60%;
    position: relative;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    div {
        width: 60%;
        position: relative;
        input {
            width: 100%;
            background: white;
            outline: none;
            border-radius: 15px;
            font-size: 20px;
            padding: 6px 40px;
            border: none;
        }
        button {
            position: absolute;
            width: 25px;
            cursor: pointer;
            top: 6px;
            left: 6px;
            background: transparent;
            border: none;
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}
.header_info {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    .header_request {
        width: 45%;
        height: 36px;
        background: white;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
        font-family: roboto;
        font-weight: 500;
        margin: 0 5px;
        &:hover {
            background: black;
            color: white;
        }
    }
}
.header_contact {
    display: flex;
    width: 35%;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
    .contact_block {
        width: 33.3%;
        margin: 0 6%;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
}

.dropdown_menu {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    margin: 0 5px;
    img {
        width: 50px;
    }
}
.dropbtn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    cursor: pointer;
    .dropdown {
        position: relative;
        display: inline-block;
    }
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 99px;
    right: 7px;
    background-color: white;
    width: 240px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
        text-align: center;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #ddd;
        }
    }
}
.show {
    display: block;
}

@media (max-width: 1024px) {
    .header_search {
        width: 40%;
        div {
            width: 80%;
            input {
                font-size: 18px;
                padding: 3px 30px;
            }
            button {
                width: 15px;
            }
        }
    }
    .header_info {
        width: 45%;
        .header_request {
            width: 45%;
            height: 30px;
            font-size: 14px;
        }
    }
    .header_contact {
        width: 25%;
    }
    .dropdown_menu {
        width: 20%;
        img {
            width: 45px;
        }
    }
    .dropbtn {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid white;
    }
    .dropdown_content {
        top: 56px;
        right: 7px;
        width: 160px;
    }
}
@media (max-width: 768px) {
    .header_search {
        width: 35%;
        div {
            width: 100%;
        }
    }
    .header_info {
        width: 55%;
    }
    .dropdown_menu {
        width: 20%;
        img {
            width: 40px;
        }
    }
    .dropdown_content {
        top: 48px;
    }
}
@media (max-width: 612px) {
    header {
        padding: 5px 20px;
    }
    .header_logo {
        width: 15%;
        margin: 0 5px;
    }
    .header_search {
        width: 45%;
        margin: 0 5px;
        div {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 45%;
            font-size: 14px;
            margin: 0 5px;
        }
    }
    .header_contact {
        width: 40%;
        .contact_block {
            margin: 0 2%;
        }
    }
    .dropdown_menu {
        width: 30%;
        img {
            width: 40px;
        }
    }
    .dropbtn {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
    }
    .dropdown_content {
        top: 48px;
    }
}
@media (max-width: 520px) {
    header {
        padding: 5px;
    }
    .header_search {
        div {
            width: 90%;
        }
    }
    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 40%;
            font-size: 12px;
        }
    }
    .dropdown_menu {
        width: 30%;
        img {
            width: 35px;
        }
    }
    .dropbtn {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
    }
    .dropdown_content {
        top: 46px;
    }
}
@media (max-width: 440px) {
    header {
        padding: 5px;
    }
    .header_search {
        width: 35%;
    }
    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 40%;
            font-size: 11px;
        }
    }
    .dropdown_menu {
        img {
            width: 30px;
        }
    }
    .dropdown_content {
        top: 42px;
    }
}
@media (max-width: 360px) {
    .header_logo {
        width: 20%;
    }
    .header_search {
        display: none;
    }
    .header_info {
        width: 80%;
        .header_request {
            height: 25px;
            font-size: 9px;
        }
    }
    .dropdown_menu {
        width: 25%;
        img {
            width: 35px;
        }
    }
    .header_contact {
        .contact_block {
            margin: 0 6%;
        }
    }
}
