#header1 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    background: #0b2556;
}
.header_logo {
    position: relative;
    display: block;
    width: 8%;
    margin: 0 15px;
    text-align: center;
    padding: 2px 0;
    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.header_search {
    width: 58%;
    position: relative;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    div {
        width: 60%;
        position: relative;
        input {
            width: 100%;
            background: white;
            outline: none;
            border-radius: 15px;
            font-size: 20px;
            padding: 3px 40px;
            border: none;
        }
        button {
            position: absolute;
            width: 21px;
            cursor: pointer;
            top: 4px;
            left: 6px;
            background: transparent;
            border: none;
            img {
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}
.header_info {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    .header_request {
        width: 65%;
        background: white;
        color: black;
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
        font-family: roboto;
        font-weight: 500;
        margin: 0 5px;
        text-align: center;
        padding: 4px 0;
        text-decoration-line: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: black;
            color: white;
        }
    }
}
.header_contact {
    display: flex;
    width: 45px;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
    .contact_block {
        width: 100%;
        margin: 0 5px;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            width: 100%;
        }
    }
}

.dropdown_menu {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    margin: 0 5px;
    img {
        width: 50px;
    }
    .dropbtn {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        cursor: pointer;
        .dropdown {
            position: relative;
            display: inline-block;
        }
    }
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: white;
    width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    .dropdown_profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 5px;
        border: 1px solid #bbbbbb66;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        img {
            object-fit: cover;
        }
        span {
            font-size: 25px;
            margin-left: 5px;
        }
    }
    a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        z-index: 999;
        i {
            width: 35px;
            height: 35px;
            font-size: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: #bbbbbb66;
            padding: 0px;
            border-radius: 50%;
            margin: 5px;
            z-index: 1;
        }
        &:hover {
            background-color: #ddd;
        }
    }
    .help_button {
        justify-content: space-between;
        div {
            width: 100%;
            display: flex;
            align-items: center;
            i {
                width: 35px;
            }
        }
        i {
            width: 41px;
        }
    }
}
.show {
    display: block;
}

.help_block {
    opacity: 0;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -999;
    transition-duration: right 1s;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 300px;
    .help_title {
        display: flex;
        span {
            padding: 10px;
            font-size: 22px;
            font-family: auto;
            font-weight: 400;
        }
        button {
            width: 35px;
            height: 35px;
            font-size: 21px;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: #bbbbbb66;
            padding: 0px;
            border-radius: 50%;
            margin: 5px;
            padding-right: 2px;
            padding-bottom: 2px;
            &:hover {
                background: rgba(187, 187, 187, 0.651);
            }
        }
    }

    a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        i {
            width: 35px;
            height: 35px;
            font-size: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: #bbbbbb66;
            padding: 0px;
            border-radius: 50%;
            margin: 5px;
        }
        &:hover {
            background-color: #ddd;
        }
        span {
            cursor: pointer;
        }
    }
}
.help_active {
    opacity: 1;
    z-index: 1;
    right: 10px;
    transition-duration: right 1s;
}

.popup_block {
    display: none;
    width: 100%;
    height: 100%;
    background: #ffffff96;
    z-index: 999;
    position: absolute;
}
// Report a Problem

.report_problem_popup {
    display: flex;
    width: 30%;
    height: max-content;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    .close_popup {
        position: absolute;
        top: -7px;
        right: 8px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 40px;
    }
    p {
        font-size: 30px;
        font-family: auto;
        font-weight: 500;
    }
    form {
        width: 90%;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input,
        textarea {
            width: 100%;
            font-size: 18px;
            font-family: auto;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
        }
        .subject_email {
            font-size: 16px;
            border: 1px solid black;
            border-radius: 0;
            padding: 5px 10px;
            font-family: auto;
            font-weight: 400;
            background: white;
            cursor: pointer;
            width: fit-content;
            padding: 10px 30px;
            &:hover {
                background-color: #e4e4e4;
            }
        }
    }
    .report_problem {
        span {
            cursor: pointer;
        }
    }
}
// end

// Call Request
.call_request_popup {
    display: flex;
    width: 30%;
    height: max-content;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    .close_popup {
        position: absolute;
        top: -7px;
        right: 8px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 40px;
    }
    p {
        font-size: 30px;
        font-family: auto;
        font-weight: 500;
    }
    form {
        width: 90%;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            display: flex;
            input {
                width: 50%;
                font-size: 18px;
                font-family: auto;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
            }
        }

        .request_call {
            font-size: 16px;
            border: 1px solid black;
            padding: 5px 10px;
            font-family: auto;
            font-weight: 400;
            background: white;
            cursor: pointer;
            width: fit-content;
            padding: 10px 30px;
            margin-top: 15px;
            border-radius: 0;
            &:hover {
                background-color: #e4e4e4;
            }
        }
    }
}
// end

//profile
.dropdown_profile_popup {
    display: flex;
    width: 50%;
    height: max-content;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    .close_popup {
        position: absolute;
        top: -7px;
        right: 8px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 40px;
    }
    p {
        font-size: 50px;
        font-family: auto;
        font-weight: 500;
    }
    .profile_block {
        width: 100%;
        display: flex;
        margin: 10px;
        padding: 10px;
        .profile_img {
            width: 40%;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .profile_info {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                font-size: 40px;
                font-family: auto;
            }
            span {
                font-size: 28px;
                font-family: auto;
            }
            .contact_info {
                display: flex;
                margin-top: 10px;
                div {
                    margin: 5px;
                    i {
                        font-size: 18px;
                    }
                    a {
                        font-size: 18px;
                        font-family: auto;
                        color: black;
                        text-decoration: none;
                        &:hover {
                            color: rgba(0, 0, 0, 0.473);
                        }
                    }
                }
            }
            .info_social {
                display: flex;
                width: 80%;
                margin-top: 15px;
                a {
                    position: relative;
                    overflow: hidden;
                    margin: 5px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// MOBILE MENU V
.mobile_menu {
    position: relative;
    width: 0;
    display: none;
    .service_list_mobile {
        display: flex;
        width: 200px;
        position: absolute;
        top: 45px;
        left: -240px;
        flex-direction: column;
        overflow: hidden;
        transition-duration: 1s;
        padding: 10px;
        background: #0b2556;
        z-index: 999;
        a {
            color: white;
            font-size: 17px;
            font-family: auto;
            margin: 3px 0;
            cursor: pointer;
            padding: 3px;
            &:hover {
                background: rgba(255, 255, 255, 0.253);
            }
        }
        .active {
            background: rgba(255, 255, 255, 0.253);
            box-shadow: 1px 1px 1px 1px #00000045;
        }
    }
    .hamburger {
        position: relative;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
            border-radius: 5px;
        }
    }
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
// END

@media (max-width: 1400px) {
    .dropdown_profile_popup {
        width: 70%;
        p {
            font-size: 40px;
        }
        .profile_block {
            .profile_img {
                width: 40%;
                img {
                    width: 80%;
                }
            }
            .profile_info {
                p {
                    font-size: 30px;
                }
                span {
                    font-size: 23px;
                }
                .info_social {
                    margin-top: 13px;
                }
            }
        }
    }
    .dropdown_content,
    .help_active {
        top: 68px;
    }
}
@media (max-width: 1024px) {
    .header_search {
        width: 40%;
        div {
            width: 80%;
            input {
                font-size: 13px;
                padding: 3px 20px;
            }
            button {
                width: 15px;
            }
        }
    }
    .header_info {
        width: 45%;
        .header_request {
            width: 45%;
            font-size: 14px;
        }
    }
    .header_contact {
        width: 35px;
    }
    .dropdown_menu {
        width: 20%;
        img {
            width: 45px;
        }
    }
    .dropbtn {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid white;
    }
    .dropdown_content,
    .help_active {
        top: 54px;
        right: 7px;
        width: 275px;
    }
    .call_request_popup,
    .report_problem_popup {
        width: 50%;
    }
    .dropdown_profile_popup .profile_block .profile_info .info_social {
        width: 100%;
    }
}
@media (max-width: 868px) {
    .dropdown_profile_popup {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .header_search {
        width: 35%;
        div {
            width: 100%;
        }
    }
    .header_info {
        width: 55%;
    }
    .dropdown_menu {
        width: 20%;
        img {
            width: 40px;
        }
    }
    .dropdown_content,
    .help_active {
        top: 47px;
        width: 250px;
        right: 0;
    }
    .call_request_popup,
    .report_problem_popup {
        width: 80%;
    }
}
@media (max-width: 676px) {
    .dropdown_profile_popup {
        width: 95%;
    }
    .dropdown_profile_popup p {
        font-size: 36px;
    }
    .dropdown_profile_popup .profile_block .profile_info span {
        font-size: 20px;
    }
    .dropdown_profile_popup .profile_block .profile_info .contact_info {
        flex-direction: column;
    }
}
@media (max-width: 612px) {
    #header1 {
        padding: 5px 0;
    }
    .header_logo {
        width: 15%;
        margin: 0 5px;
    }
    .header_search {
        display: none;
    }
    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 45%;
            font-size: 14px;
            margin: 0 5px;
        }
    }
    .header_contact {
        width: 30px;
        .contact_block {
            margin: 0 2%;
        }
    }
    .dropdown_menu {
        width: 22%;
        img {
            width: 40px;
        }
    }
    .dropbtn {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid white;
    }
    .dropdown_content {
        top: 48px;
    }
    .mobile_menu {
        width: 40px;
        height: 40px;
        display: block;
        .service_list_mobile {
            .header_search {
                display: block;
                margin: 5px 0;
                width: 100%;
                border-radius: 5px;
                div {
                    input {
                        border-radius: 5px;
                    }
                    button {
                        top: 3px;
                    }
                }
            }
            a {
                font-size: 17px;
            }
        }
        .hamburger {
            div {
                margin: 3px 0;
            }
        }
    }
}
@media (max-width: 520px) {
    #header1 {
        padding: 5px;
    }
    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 40%;
            font-size: 12px;
        }
    }
    .dropdown_menu {
        width: 30%;
        img {
            width: 35px;
        }
    }
    .dropbtn {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
    }
    .dropdown_content {
        top: 49px;
    }
    .help_active {
        top: 49px;
        width: 260px;
    }
    .dropdown_profile_popup .profile_block .profile_info .info_social a {
        margin: 2px;
    }
    .dropdown_profile_popup .profile_block .profile_img {
        width: 30%;
    }
    .dropdown_profile_popup .profile_block .profile_info {
        width: 70%;
    }
    .dropdown_profile_popup .profile_block .profile_img img {
        width: 100%;
    }
}
@media (max-width: 440px) {
    #header1 {
        padding: 5px;
    }

    .header_info {
        width: 60%;
        margin: 0 5px;
        .header_request {
            width: 40%;
            font-size: 11px;
        }
    }
    .dropdown_menu {
        img {
            width: 30px;
        }
    }
    .dropdown_content,
    .help_active {
        top: 50px;
        right: 0;
    }
    .dropdown_profile_popup {
        padding: 5px;
    }
}
@media (max-width: 360px) {
    .header_logo {
        width: 20%;
    }
    .header_info {
        width: 80%;
        .header_request {
            height: 25px;
            font-size: 9px;
        }
    }
    .dropdown_menu {
        width: 25%;
        img {
            width: 35px;
        }
    }
    .header_contact {
        .contact_block {
            margin: 0 6%;
        }
    }
    .call_request_popup,
    .report_problem_popup {
        width: 95%;
    }
    .dropdown_profile_popup .profile_block .profile_info span {
        text-align: center;
    }
    .dropdown_profile_popup .profile_block .profile_info .contact_info div {
        margin: 2px;
        text-align: center;
    }
}
