* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.setting_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding: 50px;
}

.setting_block .settings_title {
  width: 50%;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  font-family: auto;
}

.info_block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.589);
  padding: 20px 30px;
}

.info_block:last-child {
  border-bottom: 1px solid black;
}

.info_block .info_title {
  width: 25%;
  color: black;
  font-size: 21px;
  font-family: auto;
  font-weight: 600;
}

.info_block .info_desc {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  color: #4e4f4d;
  font-size: 22px;
  font-family: auto;
  font-weight: 500;
}

.info_block #input_password {
  text-transform: none;
}

.info_block .password_settings input {
  text-transform: none;
  background: transparent;
  border: none;
  color: #4e4f4d;
  font-size: 22px;
  font-family: auto;
  font-weight: 500;
  text-align: center;
}

.info_block .email_settings {
  text-transform: none;
}

.info_block .info_edit {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.info_block .info_edit a {
  color: #216fdb;
  font-size: 21px;
  font-family: auto;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.info_block .info_edit a:hover {
  color: black;
}

.editor_block {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor_block1 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f196;
  padding: 30px;
}

.editor_block1 .password_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor_block1 .password_flex .togglePassword {
  color: gray;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.editor_block1 #password_rules h4 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
  font-family: auto;
}

.editor_block1 #password_rules ul li {
  font-family: auto;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  list-style-type: none;
  margin: 3px 0;
}

.editor_block1 #password_rules ul .complete {
  color: #5db406;
}

.editor_block1 label {
  color: #4e4f4d;
  font-size: 22px;
  font-family: auto;
  font-weight: 500;
  margin: 10px 0;
}

.editor_block1 input {
  text-transform: capitalize;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 10px;
}

.editor_block1 .validate {
  text-transform: none;
}

.editor_block1 .editor_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.editor_block1 .editor_buttons a {
  font-size: 16px;
  border: 1px solid black;
  padding: 5px 10px;
  font-family: auto;
  font-weight: 400;
  background: white;
  cursor: pointer;
}

.editor_block1 .editor_buttons a:hover {
  background-color: #e4e4e4;
}

.editor_block1 .editor_buttons .save_changes {
  color: white;
  background: #4e4f4d;
  margin-right: 10px;
}

.editor_block1 .editor_buttons .save_changes:hover {
  color: #4e4f4d;
}

@media (max-width: 1450px) {
  .setting_block {
    padding: 10px;
  }
  .setting_block .settings_title {
    width: 65%;
    padding-bottom: 25px;
    font-size: 28px;
  }
  .info_block {
    width: 65%;
  }
}

@media (max-width: 1024px) {
  .setting_block {
    margin-top: 20px;
  }
  .setting_block .settings_title {
    width: 90%;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .info_block {
    width: 90%;
  }
  .editor_block1 {
    width: 70%;
    padding: 20px;
  }
  .editor_block1 input {
    width: 100%;
    height: 28px;
  }
}

@media (max-width: 768px) {
  .setting_block .settings_title {
    width: 100%;
  }
  .info_block {
    width: 100%;
  }
  .info_block .info_title {
    font-size: 19px;
  }
  .info_block .info_desc {
    font-size: 19px;
  }
  .info_block .info_edit a {
    font-size: 19px;
  }
  .editor_block1 {
    width: 90%;
  }
  .editor_block1 label {
    font-size: 19px;
  }
  .editor_block1 #password_rules h4 {
    font-size: 17px;
  }
  .editor_block1 #password_rules ul li {
    font-size: 15px;
  }
}

@media (max-width: 610px) {
  .setting_block {
    margin-top: 5px;
  }
  .info_block {
    padding: 10px;
  }
  .info_block .info_title {
    font-size: 16px;
  }
  .info_block .info_desc {
    font-size: 16px;
  }
  .info_block .info_edit a {
    font-size: 16px;
  }
}

@media (max-width: 410px) {
  .setting_block {
    margin-top: 0px;
    padding: 2;
  }
  .setting_block .settings_title {
    font-size: 22px;
  }
  .info_block {
    padding: 10px;
  }
  .info_block .info_title {
    font-size: 15px;
    width: 30%;
  }
  .info_block .info_desc {
    width: 60%;
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info_block .info_edit {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info_block .info_edit a {
    font-size: 15px;
  }
  .editor_block1 {
    width: 100%;
    margin: 5px;
  }
  .editor_block1 label {
    font-size: 16px;
  }
  .editor_block1 #password_rules h4 {
    font-size: 15px;
    font-weight: 500;
  }
  .editor_block1 #password_rules ul li {
    font-size: 14px;
  }
}
/*# sourceMappingURL=settings.css.map */