* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header { 
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(-90deg, #A3BC3A, white)
}

.navbar {
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.navbar img {

    width: 130px;
    height: 80px;
}


.navbar span {
    margin-left: 300px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #2858A1;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #2858A1;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .fa-bell {
    margin-left: -280px;
    font-size: 30px;
    color: #2858A1;

}

.navbar button{
    margin-left: -290px;
    padding: 10px 15px;
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 3px solid #2858A1;
    outline: none;
    color: #2858A1;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.25px;
    cursor: pointer;

}

.navbar button:hover {
    background: #2858A1;
    border: 3px solid #2858A1;
    color: white;
}


@media screen and (max-width: 1815px){
    .navbar i {
        margin-left: -240px;
    }
    .navbar button{
        margin-left: -240px;
    }

}

@media screen and (max-width: 1715px){
    .navbar i {
        margin-left: -200px;
    }
    .navbar button{
        margin-left: -200px;
    }

}

@media screen and (max-width: 1615px){
    .navbar i {
        margin-left: -130px;
    }
    .navbar button{
        margin-left: -130px;
    }

}

@media screen and (max-width: 1495px){
    .navbar i {
        margin-left: -70px;
    }
    .navbar button{
        margin-left: -70px;
    }

}

@media screen and (max-width: 1385px){
    .navbar i {
        margin-left: -20px;
    }
    .navbar button{
        margin-left: -20px;
    }

}

@media screen and (max-width: 1300px){
    .navbar i {
        margin-left: 0px;
    }
    .navbar button{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1300px){
    .navbar i {
        margin-left: 30px;
    }
    .navbar button{
        margin-left: 40px;
        margin-right: -40px;
    }
}

@media screen and (max-width: 1015px){
    .navbar i {
        margin-left: 30px;
    }
    .navbar button{
        margin-left: 50px;
        margin-right: -50px;
    }
}