<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/scss/dashboard.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>Dashboards</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header"></header>
    <!-- end -->
    <div class="dashboard">
      <div class="gallery">
        <!-- <div class="profile">
          <div class="profile_list">
            <img src="../static/assets/images/profile1.png" alt="" />
            <span class="profile_title">My Profile</span>
            <div class="client_block">
              <div class="client_info">
                <span>Name:</span>
                <span>John</span>
              </div>
              <div class="client_info">
                <span>Surname:</span>
                <span>Smith</span>
              </div>
              <div class="client_info">
                <span>Business Type:</span>
                <span>Real Estate</span>
              </div>
              <div class="client_info">
                <span>Email:</span>
                <span>johnsmith@gmail.com</span>
              </div>
              <div class="client_info">
                <span>Phone Number:</span>
                <span>(555) 555-5555</span>
              </div>
            </div>
          </div>
          <div class="socialmedia">
            <a href="https://www.facebook.com/" target="_blank"
              ><img src="../static/assets/images/Facebook.svg" alt=""
            /></a>
            <a href="https://www.facebook.com/messages/t" target="_blank"
              ><img src="../static/assets/images/Messenger.svg" alt=""
            /></a>
            <a href="https://www.instagram.com/" target="_blank"
              ><img src="../static/assets/images/Instagram.svg" alt=""
            /></a>
            <a href="https://twitter.com/" target="_blank"
              ><img src="../static/assets/images/Twitter.svg" alt=""
            /></a>
            <a href="https://www.linkedin.com/" target="_blank"
              ><img src="../static/assets/images/LinkedIn.svg" alt=""
            /></a>
            <a href="https://www.youtube.com/" target="_blank"
              ><img src="../static/assets/images/Youtube.svg" alt=""
            /></a>
            <a href="https://www.tiktok.com/" target="_blank"
              ><img src="../static/assets/images/Tiktok.svg" alt=""
            /></a>
            <a href="https://www.pinterest.com/" target="_blank"
              ><img src="../static/assets/images/Pinterest.svg" alt=""
            /></a>
            <a href="https://www.zillow.com/" target="_blank"
              ><img src="../static/assets/images/Zillow.svg" alt=""
            /></a>
            <a href="#" target="_blank"
              ><img src="../static/assets/images/Website.svg" alt=""
            /></a>
            <a href="https://www.agentecard.com/design-8/" target="_blank"
              ><img src="../static/assets/images/Digital BC.svg" alt=""
            /></a>
          </div>
        </div> -->
        <div class="container">
          <div class="service_list">
            <a class="home active" onclick="slider(this)">HOME</a>
            <a class="idx" onclick="slider(this)">IDX DATA</a>
            <a class="gaanalytics" onclick="slider(this)">GA ANALYTICS</a>
            <a class="fbLeads" onclick="slider(this)">FACEBOOK LEADS</a>
            <a class="socialmedia" onclick="slider(this)">SOCIAL MEDIA</a>
            <a class="callendar" onclick="slider(this)">CALLENDAR</a>
            <a class="todo" onclick="slider(this)">TO DO TASKS</a>
            <a class="autoposting" onclick="slider(this)">AUTO POSTING</a>
            <a class="autoemailing" onclick="slider(this)">AUTO EMAILING</a>
          </div>

          <div class="main_services" id="home" style="display: block">
            <span class="service_title">Home</span>
            <div class="home_block">
              <span>NEW LEADS</span>
              <table>
                <tbody>
                  <tr>
                    <th>Full Name</th>
                    <th>From Where</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Subsribtion Date</th>
                  </tr>
                  <tr>
                    <td>11111</td>
                    <td>22222</td>
                    <td>33333</td>
                    <td>44444</td>
                    <td>55555</td>
                  </tr>
                </tbody>
              </table>
              <span>UPCOMING TASKS</span>
              <div class="upcoming_tasks">
                <a href="" class="upcoming_button">VIEW ALL TASKS >></a>
                <div class="upcoming_block">
                  <div>Date & Time</div>
                  <div>Action <span>(Call, Mail, Meeting...)</span></div>
                  <div>Full Name</div>
                  <div>Email Address</div>
                  <div>Phone Number</div>
                  <div>Subsribtion Date</div>
                </div>
                <div class="upcoming_block">
                  <div>Date & Time</div>
                  <div>Action <span>(Call, Mail, Meeting...)</span></div>
                  <div>Full Name</div>
                  <div>Email Address</div>
                  <div>Phone Number</div>
                  <div>Subsribtion Date</div>
                </div>
                <div class="upcoming_block">
                  <div>Date & Time</div>
                  <div>Action <span>(Call, Mail, Meeting...)</span></div>
                  <div>Full Name</div>
                  <div>Email Address</div>
                  <div>Phone Number</div>
                  <div>Subsribtion Date</div>
                </div>
                <div class="upcoming_block">
                  <div>Date & Time</div>
                  <div>Action <span>(Call, Mail, Meeting...)</span></div>
                  <div>Full Name</div>
                  <div>Email Address</div>
                  <div>Phone Number</div>
                  <div>Subsribtion Date</div>
                </div>
                <div class="upcoming_block">
                  <div>Date & Time</div>
                  <div>Action <span>(Call, Mail, Meeting...)</span></div>
                  <div>Full Name</div>
                  <div>Email Address</div>
                  <div>Phone Number</div>
                  <div>Subsribtion Date</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main_services" id="idx">
            <span class="service_title">Idx Data</span>
          </div>
          <div class="main_services" id="gaanalytics">
            <span class="service_title">GA ANALYTICS</span>
          </div>
          <div class="main_services" id="fbLeads">
            <span class="service_title">Fb leads</span>
          </div>
          <div class="main_services" id="socialmedia">
            <span class="service_title">SOCIAL MEDIA</span>
          </div>

          <div class="main_services" id="callendar">
            <span class="service_title">CALLENDAR</span>
          </div>
          <div class="main_services" id="todo">
            <span class="service_title">TO DO TASKS</span>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="task_add">
              <button class="task_popup" onclick="popup(this)">+</button>
            </div>
            <div id="task_popup" class="task_form" style="display: none">
              <form action="/todo/save" method="post">
                <a class="close_popup" onclick="popup(this)">x</a>
                <input
                  name="fullname"
                  type="text"
                  placeholder="Full Name"
                  required
                />
                <input
                  name="phone"
                  type="tel"
                  placeholder="123-45-67890"
                  required
                />
                <input name="email" type="email" placeholder="Email" required />
                <input
                  name="date"
                  type="text"
                  placeholder="MM/DD/YYYY"
                  onfocus="(this.type='date')"
                  onblur="(this.type='text')"
                  required
                />
                <input
                  name="time"
                  type="text"
                  placeholder="02:00 PM"
                  onfocus="(this.type='time')"
                  onblur="(this.type='text')"
                  required
                />
                <span class="title_checkbox"
                  >Preferred method of contacting:</span
                >
                <div class="checkbox_block">
                  <label class="form_checkbox"
                    >Call
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >Mail
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >SMS
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >Zoom
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <input type="submit" value="Submit" class="submit_form" />
              </form>
            </div>
          </div>
          <div class="main_services" id="autoposting">
            <span class="service_title">AUTO POSTING</span>
          </div>
          <div class="main_services" id="autoemailing">
            <span class="service_title">AUTO EMAILING</span>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
      function slider(element) {
        let content = document.getElementById(element.className.split(" ")[0]);
        let hidden = document.getElementsByClassName("main_services");

        for (const el of hidden) {
          el.style.display = "none";
        }
        content.style.display = "block";
      }

      $(".service_list a").click(function (event) {
        if ($(this).hasClass("active")) {
          $(this).removeClass("active");
        } else {
          $(".service_list a").removeClass("active");
          $(this).addClass("active");
        }
      });

      function popup(element) {
        let hidden1 = document.getElementById("task_popup");
        if (hidden1.style.display === "block") {
          hidden1.style.display = "none";
        } else {
          hidden1.style.display = "block";
        }
      }
      $(function () {
        $("#header").load("header.html");
        $("#footer").load("footer.html");
      });
    </script>
  </body>
</html>
