<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/scss/dashboard.css" />
    <link rel="stylesheet" href="../static/assets/scss/header.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <header id="header">
      <div class="header_logo">
        <img src="../static/assets/images/Untitled-3.png" alt="" />
      </div>
      <div class="header_search">
        <div>
          <input type="search" name="search" />
          <button>
            <img src="../static/assets/images/search.png" alt="" />
          </button>
        </div>
      </div>
      <div class="header_info">
        <button class="header_request">REQUEST</button>
        <div class="header_contact">
          <a class="contact_block" href="tel:+11234567890">
            <img src="../static/assets/images/phone.png" alt="" />
          </a>
          <a class="contact_block" href="">
            <img src="../static/assets/images/notification.png" alt="" />
          </a>
          <a class="contact_block" href="">
            <img src="../static/assets/images/support.png" alt="" />
          </a>
        </div>
        <div class="dropdown_menu">
          <img src="/static/assets/images/profile1.png" alt="" />
          <button onclick="myFunction()" class="dropbtn"></button>
          <div id="myDropdown" class="dropdown_content">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
        </div>
      </div>
    </header>
    <!-- end --><!-- end -->
    <!-- end -->
    <!-- end -->
    <!-- end -->
    <!-- end -->
    <div class="dashboard">
      <div class="gallery">
        <!-- <div class="profile">
          <div class="profile_list">
            <img src="../static/assets/images/profile1.png" alt="" />
            <span class="profile_title">My Profile</span>
            <div class="client_block">
              <div class="client_info">
                <span>Name:</span>
                <span>John</span>
              </div>
              <div class="client_info">
                <span>Surname:</span>
                <span>Smith</span>
              </div>
              <div class="client_info">
                <span>Business Type:</span>
                <span>Real Estate</span>
              </div>
              <div class="client_info">
                <span>Email:</span>
                <span>johnsmith@gmail.com</span>
              </div>
              <div class="client_info">
                <span>Phone Number:</span>
                <span>(555) 555-5555</span>
              </div>
            </div>
          </div>
          <div class="socialmedia">
            <a href="https://www.facebook.com/" target="_blank"
              ><img src="../static/assets/images/Facebook.svg" alt=""
            /></a>
            <a href="https://www.facebook.com/messages/t" target="_blank"
              ><img src="../static/assets/images/Messenger.svg" alt=""
            /></a>
            <a href="https://www.instagram.com/" target="_blank"
              ><img src="../static/assets/images/Instagram.svg" alt=""
            /></a>
            <a href="https://twitter.com/" target="_blank"
              ><img src="../static/assets/images/Twitter.svg" alt=""
            /></a>
            <a href="https://www.linkedin.com/" target="_blank"
              ><img src="../static/assets/images/LinkedIn.svg" alt=""
            /></a>
            <a href="https://www.youtube.com/" target="_blank"
              ><img src="../static/assets/images/Youtube.svg" alt=""
            /></a>
            <a href="https://www.tiktok.com/" target="_blank"
              ><img src="../static/assets/images/Tiktok.svg" alt=""
            /></a>
            <a href="https://www.pinterest.com/" target="_blank"
              ><img src="../static/assets/images/Pinterest.svg" alt=""
            /></a>
            <a href="https://www.zillow.com/" target="_blank"
              ><img src="../static/assets/images/Zillow.svg" alt=""
            /></a>
            <a href="#" target="_blank"
              ><img src="../static/assets/images/Website.svg" alt=""
            /></a>
            <a href="https://www.agentecard.com/design-8/" target="_blank"
              ><img src="../static/assets/images/Digital BC.svg" alt=""
            /></a>
          </div>
        </div> -->
        <div class="container">
          <div class="video-list">
            <a class="idx" onclick="slider(this)">IDX Data</a>
            <a class="liveTraffic" onclick="slider(this)">Live Traffic</a>
            <a class="weblead" onclick="slider(this)">Website Leads</a>
            <a class="fbLeads" onclick="slider(this)">FB Leads</a>
            <a class="request" onclick="slider(this)">Request</a>
            <a class="todo" onclick="slider(this)">To-Do Tasks</a>
          </div>
          <div class="main-video" id="idx">
            <span>Idx Data</span>
          </div>

          <div class="main-video" id="liveTraffic">
            <span>Live Traffic</span>
          </div>
          <div class="main-video" id="weblead">
            <span>Website Leads</span>
          </div>
          <div class="main-video" id="fbLeads">
            <span>Fb leads</span>
          </div>
          <div class="main-video" id="request">
            <span>Request</span>
          </div>
          <div class="main-video" id="todo">
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="info_task">
              <div class="info_line">
                <span class="info_title">Full Name:</span>&nbsp<span
                  class="info_desc"
                  >John Doe</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Email:</span>&nbsp<span
                  class="info_desc"
                  >johndoe@gmail.com</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Phone:</span>&nbsp<span
                  class="info_desc"
                  >+11234567890</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Date:</span>&nbsp<span
                  class="info_desc"
                  >17-10-22</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Time:</span>&nbsp<span
                  class="info_desc"
                  >02:00 P.M.</span
                >
              </div>
              <div class="info_line">
                <span class="info_title">Contact By:</span>
                &nbsp<span class="info_desc">Call</span>
              </div>
            </div>
            <div class="task_add">
              <button class="task_popup" onclick="popup(this)">+</button>
            </div>
            <div id="task_popup" class="task_form" style="display: none">
              <form action="/todo/save" method="post">
                <a class="close_popup" onclick="popup(this)">x</a>
                <input
                  name="fullname"
                  type="text"
                  placeholder="Full Name"
                  required
                />
                <input
                  name="phone"
                  type="tel"
                  placeholder="123-45-67890"
                  required
                />
                <input name="email" type="email" placeholder="Email" required />
                <input
                  name="date"
                  type="text"
                  placeholder="MM/DD/YYYY"
                  onfocus="(this.type='date')"
                  onblur="(this.type='text')"
                  required
                />
                <input
                  name="time"
                  type="text"
                  placeholder="02:00 PM"
                  onfocus="(this.type='time')"
                  onblur="(this.type='text')"
                  required
                />
                <span class="title_checkbox"
                  >Preferred method of contacting:</span
                >
                <div class="checkbox_block">
                  <label class="form_checkbox"
                    >Call
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >Mail
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >SMS
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="form_checkbox"
                    >Zoom
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <input type="submit" value="Submit" class="submit_form" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
      function slider(element) {
        let content = document.getElementById(element.className.split(" ")[0]);
        let hidden = document.getElementsByClassName("main-video");

        for (const el of hidden) {
          el.style.display = "none";
        }
        content.style.display = "block";
      }

      $(".video-list a").click(function (event) {
        if ($(this).hasClass("active")) {
          $(this).removeClass("active");
        } else {
          $(".video-list a").removeClass("active");
          $(this).addClass("active");
        }
      });

      function popup(element) {
        let hidden1 = document.getElementById("task_popup");
        if (hidden1.style.display === "block") {
          hidden1.style.display = "none";
        } else {
          hidden1.style.display = "block";
        }
      }
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown_content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
