<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/scss/settings.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <header id="header"></header>
    <div class="setting_block">
      <span class="settings_title">General Account Settings</span>
      <!-- username -->
      <div class="info_block">
        <div class="info_title">UserName</div>
        <div class="info_desc info_username" id="div_input_username">
          JohnDove123
        </div>
        <div class="info_edit">
          <a class="username_block" onclick="editor(this)">Edit</a>
        </div>
      </div>
      <!-- username popup -->
      <div id="username_block" class="editor_block">
        <div class="editor_block1">
          <label for="edittitle">UserName</label>
          <input
            class="username_nospaces"
            type="text"
            name="edittitle"
            id="input_username"
            onkeyup="nospaces(this)"
            required
          />
          <div class="editor_buttons">
            <a class="save_changes input_username" onclick="savechanges(this)"
              >Save Changes</a
            >
            <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
          </div>
        </div>
      </div>
      <!-- password -->
      <div class="info_block">
        <div class="info_title">Password</div>
        <div class="info_desc password_settings" id="div_input_password">
          <input type="password" value="********" disabled="disabled" />
        </div>
        <div class="info_edit">
          <a class="password_block" onclick="editor(this)">Edit</a>
        </div>
      </div>
      <!-- full name -->
      <div class="info_block">
        <div class="info_title">Full Name</div>
        <div class="info_desc info_fullname" id="div_input_name">John Dove</div>
        <div class="info_edit">
          <a class="name_block" onclick="editor(this)">Edit</a>
        </div>
      </div>
      <!-- fullname popup -->
      <div id="name_block" class="editor_block">
        <div class="editor_block1">
          <label for="edittitle">Full Name</label>
          <input
            type="text"
            name="edittitle"
            id="input_name"
            pattern="[A-Za-z]"
            required
          />
          <div class="editor_buttons">
            <a class="save_changes input_name" onclick="savechanges(this)"
              >Save Changes</a
            >
            <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
          </div>
        </div>
      </div>
      <!-- email -->
      <div class="info_block">
        <div class="info_title">Email</div>
        <div class="info_desc email_settings" id="div_input_email">
          Johndove@gmail.com
        </div>
        <div class="info_edit">
          <a class="email_block" onclick="editor(this)">Edit</a>
        </div>
      </div>
      <!-- email popup -->
      <div id="email_block" class="editor_block">
        <div class="editor_block1">
          <label for="edittitle">Email</label>
          <input type="email" name="edittitle" id="input_email" required />
          <div class="editor_buttons">
            <a class="save_changes input_email" onclick="savechanges(this)"
              >Save Changes</a
            >
            <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
          </div>
        </div>
      </div>
      <!-- phone number -->
      <div class="info_block">
        <div class="info_title">Phone Number</div>
        <div class="info_desc desc_phone" id="div_input_phone">
          +11234567890
        </div>
        <div class="info_edit">
          <a class="phone_block" onclick="editor(this)">Edit</a>
        </div>
      </div>
      <!-- phonenumber popup -->
      <div id="phone_block" class="editor_block">
        <div class="editor_block1">
          <label for="edittitle">Phone Number</label>
          <input
            type="tel"
            name="edittitle"
            id="input_phone"
            required
            placeholder="+1"
            value="+1 (___) ___-____"
            pattern="^\+1(\s+)?\(?(17|25|29|33|44)\)?(\s+)?[0-9]{3}-?[0-9]{3}-?[0-9]{4}$"
          />
          <div class="editor_buttons">
            <a class="save_changes input_phone" onclick="savechanges(this)"
              >Save Changes</a
            >
            <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
          </div>
        </div>
      </div>

      <!-- social media -->
      <div class="social_dropdown">
        <div class="social_block">
          <span>Social Media Links</span>
          <a class="social_media_drop">Edit</a>
        </div>
        <!-- facebook -->
        <div class="info_block_social">
          <div class="info_title">Facebook</div>
          <div class="info_desc info_facebook" id="div_input_facebook">
            https://www.facebook.com/
          </div>
          <div class="info_edit">
            <a class="facebook_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- facebook popup -->
        <div id="facebook_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Facebook Link</label>
            <input type="tel" name="edittitle" id="input_facebook" required />
            <div class="editor_buttons">
              <a class="save_changes input_facebook" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- messenger -->
        <div class="info_block_social">
          <div class="info_title">Messenger</div>
          <div class="info_desc info_messenger" id="div_input_messenger">
            https://www.messenger.com/
          </div>
          <!-- messenger -->
          <div class="info_edit">
            <a class="messenger_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- messenger popup -->
        <div id="messenger_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Messenger Link</label>
            <input type="tel" name="edittitle" id="input_messenger" required />
            <div class="editor_buttons">
              <a
                class="save_changes input_messenger"
                onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- instagram -->
        <div class="info_block_social">
          <div class="info_title">Instagram</div>
          <div class="info_desc info_instagram" id="div_input_instagram">
            https://www.instagram.com/
          </div>
          <div class="info_edit">
            <a class="instagram_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- instagram popup -->
        <div id="instagram_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Instagram Link</label>
            <input type="tel" name="edittitle" id="input_instagram" required />
            <div class="editor_buttons">
              <a
                class="save_changes input_instagram"
                onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- twitter -->
        <div class="info_block_social">
          <div class="info_title">Twitter</div>
          <div class="info_desc info_twitter" id="div_input_twitter">
            https://www.twitter.com/
          </div>
          <div class="info_edit">
            <a class="twitter_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- twitter popup -->
        <div id="twitter_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Twitter Link</label>
            <input type="tel" name="edittitle" id="input_twitter" required />
            <div class="editor_buttons">
              <a class="save_changes input_twitter" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- linkedin -->
        <div class="info_block_social">
          <div class="info_title">Linkedin</div>
          <div class="info_desc info_linkedin" id="div_input_linkedin">
            https://www.linkedin.com/
          </div>
          <div class="info_edit">
            <a class="linkedin_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- linkedin popup -->
        <div id="linkedin_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Linkedin Link</label>
            <input type="tel" name="edittitle" id="input_linkedin" required />
            <div class="editor_buttons">
              <a class="save_changes input_linkedin" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- tiktok -->
        <div class="info_block_social">
          <div class="info_title">TikTok</div>
          <div class="info_desc info_tiktok" id="div_input_tiktok">
            https://www.tiktok.com/
          </div>
          <div class="info_edit">
            <a class="tiktok_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- tiktok popup -->
        <div id="tiktok_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">TikTok Link</label>
            <input type="tel" name="edittitle" id="input_tiktok" required />
            <div class="editor_buttons">
              <a class="save_changes input_tiktok" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- youtube -->
        <div class="info_block_social">
          <div class="info_title">YouTube</div>
          <div class="info_desc info_youtube" id="div_input_youtube">
            https://www.youtube.com/
          </div>
          <div class="info_edit">
            <a class="youtube_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- youtube popup-->
        <div id="youtube_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">YouTube Link</label>
            <input type="tel" name="edittitle" id="input_youtube" required />
            <div class="editor_buttons">
              <a class="save_changes input_youtube" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- digital -->
        <div class="info_block_social">
          <div class="info_title">Digital</div>
          <div class="info_desc info_digital" id="div_input_digital">
            https://www.agentecard.com/design-2/
          </div>
          <div class="info_edit">
            <a class="digital_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- digital popup -->
        <div id="digital_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Digital Link</label>
            <input type="tel" name="edittitle" id="input_digital" required />
            <div class="editor_buttons">
              <a class="save_changes input_digital" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- website -->
        <div class="info_block_social">
          <div class="info_title">Website</div>
          <div class="info_desc info_website" id="div_input_website">
            https://demo127.tcy.nsq.mybluehost.me/
          </div>
          <div class="info_edit">
            <a class="website_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- website popup -->
        <div id="website_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Website Link</label>
            <input type="tel" name="edittitle" id="input_website" required />
            <div class="editor_buttons">
              <a class="save_changes input_website" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
        <!-- zillow -->
        <div class="info_block_social">
          <div class="info_title">Zillow</div>
          <div class="info_desc info_zillow" id="div_input_zillow">
            https://www.zillow.com/
          </div>
          <div class="info_edit">
            <a class="zillow_block" onclick="editor(this)">Edit</a>
          </div>
        </div>
        <!-- zillow popup -->
        <div id="zillow_block" class="editor_block">
          <div class="editor_block1">
            <label for="edittitle">Zillow Link</label>
            <input type="tel" name="edittitle" id="input_zillow" required />
            <div class="editor_buttons">
              <a class="save_changes input_zillow" onclick="savechanges(this)"
                >Save Changes</a
              >
              <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- password popup -->
    <div id="password_block" class="editor_block">
      <div class="editor_block1">
        <label for="edittitle">Old Password:</label>
        <div class="password_flex">
          <input
            type="password"
            class="validate password"
            name="edittitle"
            id="input_password1"
            value=""
            required
          />
          <span class="togglePassword">Show</span>
        </div>
        <label for="edittitle">Password:</label>
        <div class="password_flex">
          <input
            type="password"
            class="validate password"
            name="edittitle"
            id="input_password"
            value=""
            onkeyup="nospaces(this)"
            required
          />
        </div>
        <label>Confirm Password:</label>
        <input
          type="password"
          id="conf"
          class="validate passwordConfirm"
          name="confirmPassword"
          value=""
        />
        <div id="password_rules">
          <h4>Passwords must meet these requirements:</h4>
          <ul>
            <li class="password_length">At least 8 characters</li>
            <li class="password_uppercase">At least 1 uppercase letter</li>
            <li class="password_number">At least one number</li>
            <li class="password_match">Password and confirmation must match</li>
          </ul>
        </div>
        <div class="editor_buttons">
          <a class="save_changes input_password" onclick="savechanges(this)"
            >Save Changes</a
          >
          <a class="cancel_changes" onclick="cancelsave(this)">Cancel</a>
        </div>
      </div>
    </div>
    <!--popups -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../static/assets/js/settings.js"></script>
  </body>
</html>
